:root {
    /* Colors */
    --color-primary: rgb(228, 242, 242);  /* Extremely Light Blue for main text */
    --color-secondary: #F28A2E;  /* Orange for title headings for sidebar */
    --color-accent: #8FB2BF;  /* Light blue for links hover and section separators */
    --hover-color: #88b7d8;
    --background-color-main: #2B2B2B;
    --background-color-landing: #613814de;
    --text-color-sidebar: #e4f2f2;
    --color-header: #232526; 



    /* Spacing */
    --base-spacing: 1.5rem;
    /* Main spacing for elements */
    --section-spacing: 2.5rem;
    /* Space between sections */
    --sidebar-spacing: 1.5rem;
    /* Padding around sidebar content */

    /* Fonts */
    --font-primary: 'Baskerville', serif;
    /* Main font */
    --font-secondary: 'EB Garamond', serif;
    /* Secondary font (headings)*/
    --base-font-size: 1rem;
    /* Base font size for body text */
    
    /*UNUSED FONT SIZE VARIABLES */
    --h1-font-size: 2rem;
    /* Font size for main headings */
    --h2-font-size: 1.5rem;
    /* Font size for sub-headings */
    --h3-font-size: 1.4rem;
    /* Font size for sub-sub-headings */
    --h4-font-size: 1.25rem;
    /* Font size for the smallest headings */

    /* Other */
    --base-line-height: 1.5rem;
    /* Base line height for text */
    --section-separator: 1px solid var(--color-accent);
    /* Line to separate sections */
    --icon-font-size: 1.5rem;
    /* Size of the font icons */
    --transition-speed: 0.3s;
    /* Transition speed for link hover effects */

    /* Link hover color */
}


/* Text Styles */
h1,
h2,
h3,
h4 {
    font-family: var(--font-secondary);
    text-transform: capitalize;
}

a {
    font-family: var(--font-secondary);
    font-size: var(--h3-font-size);
    color: var(--base-link-color);
    text-decoration: none;
    letter-spacing: 0.15rem;
}

.highlighted {
    color: var(--color-secondary);
}

/* Layout Styles */
main {
    margin: 0 auto;
    background: var(--background-color-main);
}


/*Section Styles */
body {
    font-family: var(--font-primary);
    font-size: var(--base-font-size);
    color: white;
}

#project-page {
    background: url('../images/mountain.webp'); 
    /* Background image */
    background-size: cover;
    /* Scale the background image to be as large as possible */

}
a:hover {
    text-decoration: underline;
}

/*Header Styles */
header {
    display: flex;
    align-items: center;
    font-size: var(--base-font-size);
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6rem;
    background-color: var(--color-header);
    }

    .logo {
        margin-right: auto;
        font-family: var(--font-secondary);
        background-color: #88b7d8;

        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        border-radius: 83px;

        letter-spacing: .1rem;
        font-weight: lighter;

        white-space: nowrap;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-basis: auto;
        margin: auto 6rem;
        gap: 6rem;
    }

    .menu-item {
        text-align: match-parent;
        font-weight: 500;
        letter-spacing: normal;
        white-space: nowrap;
    }

    .header-cta {
        font-family: var(--font-secondary);
        background-color: white;
        color: var(--color-secondary);

        line-height: var(--base-font-size);
        padding: .7em 1.5em;
        border-radius: 83px;

        letter-spacing: .1rem;
        font-weight: bolder;
        white-space: nowrap;
    }


/*Hero Section Styles */
.hero {
    margin: auto auto;
    padding-right: 2rem;
    padding-left: 2rem;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    background: linear-gradient(var(--background-color-landing) 75%, white);
    height: calc(vw / 1.618);
    /* font: --font / 1.5  var(--font-primary); */
}
.hero-text {
    width: 50vw;
}

a.pill-link {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 83px;
    background-color: var(--color-secondary);
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s ease;
}

a.pill-link:hover {
    transform: translateY(5px);
    border: #FFF solid 3px;
}

.hero-image {
    justify-content: center;
    align-items: center;
}
.hero-image img{
    width: 50vw;
    height: auto;
    border-radius: 4rem;
}

/* Transition Section Styling */
.landing-transition {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 25vw;
    overflow: hidden;
    background-color: black;

    /* background:  url(../images/mountain.webp) no-repeat;
    background-size: contain;
    background-clip: content-box; */
}

.clipped-transition-img {
  width: 100%; /* Ensure the clipped image fills the container */
  height: 100%; /* Ensure the clipped image fills the container */
  background-image: url(../images/mountain.webp); /* Set the image as the background */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center center; /* Center the background image */
}