:root {
    /* Colors */
    --color-primary: rgb(228, 242, 242);  /* Extremely Light Blue for main text */
    --color-secondary: #F28A2E;  /* Orange for title headings for sidebar */
    --color-accent: #8FB2BF;  /* Light blue for links hover and section separators */
    --hover-color: #88b7d8;
    --background-color-main: rgba(35, 37, 38, .95);
    --background-color-sidebar: #613814de;
    --text-color-sidebar: #e4f2f2;



    /* Spacing */
    --base-spacing: 1.5rem;
    /* Main spacing for elements */
    --section-spacing: 2.5rem;
    /* Space between sections */
    --sidebar-spacing: 1.5rem;
    /* Padding around sidebar content */

    /* Fonts */
    --font-primary: 'Cormorant Garamond', serif;
    /* Main font */
    --font-secondary: 'EB Garamond', serif;
    /* Secondary font (headings)*/
    --base-font-size: 1rem;
    /* Base font size for body text */
    
    /*UNUSED FONT SIZE VARIABLES */
    --h1-font-size: 2rem;
    /* Font size for main headings */
    --h2-font-size: 1.5rem;
    /* Font size for sub-headings */
    --h3-font-size: 1.4rem;
    /* Font size for sub-sub-headings */
    --h4-font-size: 1.25rem;
    /* Font size for the smallest headings */

    /* Other */
    --base-line-height: 1.5;
    /* Base line height for text */
    --section-separator: 1px solid var(--color-accent);
    /* Line to separate sections */
    --icon-font-size: 1.5rem;
    /* Size of the font icons */
    --transition-speed: 0.3s;
    /* Transition speed for link hover effects */

    /* Link hover color */
}