:root {
    /* Colors */
    --color-primary: rgb(228, 242, 242);  /* Extremely Light Blue for main text */
    --color-secondary: #F28A2E;  /* Orange for title headings for sidebar */
    --color-accent: #8FB2BF;  /* Light blue for links hover and section separators */
    --hover-color: #88b7d8;
    --background-color-main: #2B2B2B;
    --background-color-landing: #613814de;
    --text-color-sidebar: #e4f2f2;
    --color-header: #232526; 



    /* Spacing */
    --base-spacing: 1.5rem;
    /* Main spacing for elements */
    --section-spacing: 2.5rem;
    /* Space between sections */
    --sidebar-spacing: 1.5rem;
    /* Padding around sidebar content */

    /* Fonts */
    --font-primary: 'Baskerville', serif;
    /* Main font */
    --font-secondary: 'EB Garamond', serif;
    /* Secondary font (headings)*/
    --base-font-size: 1rem;
    /* Base font size for body text */
    
    /*UNUSED FONT SIZE VARIABLES */
    --h1-font-size: 2rem;
    /* Font size for main headings */
    --h2-font-size: 1.5rem;
    /* Font size for sub-headings */
    --h3-font-size: 1.4rem;
    /* Font size for sub-sub-headings */
    --h4-font-size: 1.25rem;
    /* Font size for the smallest headings */

    /* Other */
    --base-line-height: 1.5rem;
    /* Base line height for text */
    --section-separator: 1px solid var(--color-accent);
    /* Line to separate sections */
    --icon-font-size: 1.5rem;
    /* Size of the font icons */
    --transition-speed: 0.3s;
    /* Transition speed for link hover effects */

    /* Link hover color */
}


/* Text Styles */
h1,
h2,
h3,
h4 {
    font-family: var(--font-secondary);
    text-transform: capitalize;
}

a {
    font-family: var(--font-secondary);
    font-size: var(--h3-font-size);
    color: var(--base-link-color);
    text-decoration: none;
    letter-spacing: 0.15rem;
}

.highlighted {
    color: var(--color-secondary);
}

/* Layout Styles */
main {
    margin: 0 auto;
    background: var(--background-color-main);
}


/*Section Styles */
body {
    font-family: var(--font-primary);
    font-size: var(--base-font-size);
    color: white;
}

#project-page {
    background: url('../images/mountain.webp'); 
    /* Background image */
    background-size: cover;
    /* Scale the background image to be as large as possible */

}
a:hover {
    text-decoration: underline;
}

/*Header Styles */
header {
    display: flex;
    align-items: center;
    font-size: var(--base-font-size);
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6rem;
    background-color: var(--color-header);
    }

    .logo {
        margin-right: auto;
        font-family: var(--font-secondary);
        background-color: #88b7d8;

        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        border-radius: 83px;

        letter-spacing: .1rem;
        font-weight: lighter;

        white-space: nowrap;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-basis: auto;
        margin: auto 6rem;
        gap: 6rem;
    }

    .menu-item {
        text-align: match-parent;
        font-weight: 500;
        letter-spacing: normal;
        white-space: nowrap;
    }

    .header-cta {
        font-family: var(--font-secondary);
        background-color: white;
        color: var(--color-secondary);

        line-height: var(--base-font-size);
        padding: .7em 1.5em;
        border-radius: 83px;

        letter-spacing: .1rem;
        font-weight: bolder;
        white-space: nowrap;
    }


/*Hero Section Styles */
.hero {
    margin: auto auto;
    padding-right: 2rem;
    padding-left: 2rem;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    background: linear-gradient(var(--background-color-landing) 75%, white);
    height: calc(vw / 1.618);
    /* font: --font / 1.5  var(--font-primary); */
}
.hero-text {
    width: 50vw;
}

a.pill-link {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 83px;
    background-color: var(--color-secondary);
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s ease;
}

a.pill-link:hover {
    transform: translateY(5px);
    border: #FFF solid 3px;
}

.hero-image {
    justify-content: center;
    align-items: center;
}
.hero-image img{
    width: 50vw;
    height: auto;
    border-radius: 4rem;
}

/* Transition Section Styling */
.landing-transition {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 25vw;
    overflow: hidden;
    background-color: black;

    /* background:  url(../images/mountain.webp) no-repeat;
    background-size: contain;
    background-clip: content-box; */
}

.clipped-transition-img {
  width: 100%; /* Ensure the clipped image fills the container */
  height: 100%; /* Ensure the clipped image fills the container */
  background-image: url(../images/mountain.webp); /* Set the image as the background */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center center; /* Center the background image */
}

/*Project Page Styling*/
.container {
    display: flex;
    /* Apply Flexbox layout */
    flex-direction: row-reverse;
    /* Reverse the natural order of elements */
    max-width: 80vw;
    /* Maximum width of the container */
    margin: 2rem auto;
    /* Centrally align the container horizontally */
    padding: 0;
    background-color: var(--background-color-main, black);
    /* Background color of the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* Add shadow around the container */
    border-radius: 5px;
    /* Add rounded corners to the container */
    overflow: hidden;
    /* Hide any content that goes outside the container */
}

.sidebar {
    flex: 1;
    /* Take up 1 fraction of the available space */
    display: flex;
    /* Apply Flexbox layout */
    flex-direction: column;
    /* Stack the children vertically */
    justify-content: space-between;
    /* Distribute space evenly between the children */
    padding: var(--sidebar-spacing);
    /* Add padding around the sidebar content */
    background-color: var(--background-color-landing, brown);
    /* Background color of the sidebar */
    color: var(--text-color-sidebar, white);
    /* Text color in the sidebar */
}

.sidebar h2{
    text-align: center;
}

#project-header {
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-main);
}

.main-content {
    flex: 1.618;
    /* Take up the golden ratio of the available space */
    padding: var(--section-spacing);
    /* Add padding around the main content */
}

/*About Me Section Styling*/
.about-me {
    padding-top: 3rem;
    padding-bottom: var(--section-spacing)
}

.about-me-content h2, h3 {
    color: var(--color-secondary);
}

.about-me header{
    background-color: var(--background-color-main);
    text-align: center;
    justify-content: center;
}

.about-me-content {
    display: flex;
    /* Apply Flexbox layout */
    flex-direction: row;
    /* Reverse the natural order of elements */
    justify-content: space-between;
    /* Distribute space evenly between the children */
    margin: 2rem auto;
    /* Centrally align the container horizontally */
    padding: 0;
    overflow: hidden;
    /* Hide any content that goes outside the container */
}

.about-me-text {
    flex: 1.618;
    /* Take up the golden ratio of the available space */
    margin-right: 2rem;
}

.portfolio-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.portfolio-image img{
    max-width: 70%;
    height: auto;
    border-radius: 30px;
    border: .5rem solid var(--background-color-landing);
}

/*Contact Me Section Styling*/

.contact-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-between;
    padding-bottom: 6rem;
}

.contact-header {
    flex-basis: 100%;
    text-align: center;
}

.contact-content {
    flex: 1;
    display: flex;
}

.contact-section .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-form {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    flex: 1;
}

.email-form h4 {
    max-width: 60%;
    background-color: var(--color-secondary);
    color: black;
    padding: 0.5rem;
    border: 0.5rem solid var(--color-accent);
    
}
.email-form form {
    gap: 10px;
    width: 50%;
}

.email-form form input[type="email"] {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 83px;
    border:none;
    font-size: 1rem;
}

.email-form form input[type="submit"] {
    background-color: var(--hover-color);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 83px;
    cursor: pointer;
    transition: 0.3s ease;  
}

.newsletter-form {
    position: relative;
    align-items: center; /* Required for positioning */
    width: 50%; /* Set a width for the container */
    z-index: 1;
}

.input-element {
    position: absolute; /* Position the input elements absolutely */
    right: 0; /* Adjust the top position as needed */
}

#input1 {
    padding-right: 6rem;
}

.footnotes {
    width: 40%;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.footnotes i {
    line-height: 2rem;
}



/* Responsive design */

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        /* Stack children vertically */
        margin: 0 auto;
        /* Centrally align the container horizontally */
        padding: 0;
        /* Remove padding */
        width: 100%;
        /* Full width of the viewport */
    }

    .sidebar {
        order: 2;
        /* Move the sidebar below the main content */
        height: 100vh;
        /* Full height of the viewport */
        overflow-y: hidden;
        /* Enable scrolling if content overflows vertically */
    }

    .about-me-content {
        flex-direction: column;
        /* Stack children vertically */
        margin: 0 auto;
        /* Centrally align the container horizontally */
        padding: 0;
        /* Remove padding */
        width: 100%;
        /* Full width of the viewport */
    }

    .about-me-text {
        order: 2;
        height: 100vh;
    }
}